In [52]:
import os
import glob
import pandas as pd
import csv
from tqdm import tqdm

### Create training csv with img path, caption

In [50]:
txt_dir = '/home/gridsan/manderson/vlm4rs/fmow/fmow-gpt/train/landmarks-only'
img_dir = '/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/train'

gpt_params = 'overlap3-1024'

csv_out = '/home/gridsan/manderson/vlm4rs/fmow/fmow_mm_data.csv'

In [22]:
meta_csv = '/home/gridsan/manderson/vlm4rs/fmow/fmow-meta/train-latest.csv'

In [18]:
meta_df = pd.read_csv(meta_csv)

In [20]:
meta_df.head()

,img_id,label,lat,lon,city,state,country,country_code,country_from_code,gsd,cloud_cover,year,month,day,sw_lon,sw_lat,ne_lon,ne_lat
0,fountain_740_2,fountain,34.889148,1.240827,Medrissa,Tiaret,Algeria,DZA,Algeria,0.515624,0,2017,March,9,1.238581,34.887297,1.243072,34.890998
1,office_building_225_5,office building,44.233225,-76.493190,Kingston,Ontario,Canada,CAN,Canada,0.558239,4,2016,August,26,-76.495436,44.231610,-76.490944,44.234839
2,educational_institution_172_6,educational institution,-34.442816,-58.549059,San Fernando,Buenos Aires Province,Argentina,ARG,Argentina,0.344168,0,2017,May,1,-58.551306,-34.444677,-58.546812,-34.440955
3,tunnel_opening_291_2,tunnel opening,27.772282,109.802916,Huaihua,Hunan,People's Republic of China,CHN,China,0.592013,1,2015,August,24,109.800671,27.770285,109.805162,27.774280
4,oil_or_gas_facility_423_3,oil or gas facility,49.731178,43.666463,Shurupovsky,Volgograd,Russia,RUS,Russia,0.434368,1,2016,July,14,43.664217,49.729723,43.668709,49.732633

In [53]:
with open(csv_out, mode='w', newline='', encoding='utf-8') as csv_file:
    writer = csv.writer(csv_file)  # Use csv.writer instead of csv.DictWriter

    writer.writerow(['filepath', 'caption'])
    
    for i in tqdm(range(len(meta_df))):
        row = meta_df.iloc[i]
        img_id = row['img_id']
        cat_id = ('_').join(img_id.split('_')[:-2])
        short_id = ('_').join(img_id.split('_')[:-1])
        txt_file = f'{txt_dir}/{cat_id}/{short_id}_gpt-{gpt_params}.txt'
        rgb_file = f'{img_dir}/{cat_id}/{short_id}/{img_id}_rgb.jpg'

        with open(txt_file, "r", encoding="utf-8") as file:
            caption = file.read()

        row = [rgb_file, caption]

        writer.writerow(row)

100%|██████████| 83412/83412 [38:37<00:00, 36.00it/s]

In [54]:
# check csv
df = pd.read_csv(csv_out)

In [55]:
df.head()

,filepath,caption
0,/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/t...,"The scene depicts an area in Medrissa, Tiaret,..."
1,/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/t...,"The image depicts an urban area in Kingston, O..."
2,/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/t...,The image captures an educational institution ...
3,/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/t...,"The image, captured on August 24, 2015, depict..."
4,/home/gridsan/manderson/vlm4rs/fmow/fmow-rgb/t...,The image captures an oil or gas facility near...